{% extends 'home.html' %}
{% block main %}


    <center>
        {% if request.user.is_authenticated %}
            <p class="-align-center">
                <button type="button" class="btn btn-success"> شما میتوانید نوبت رزرو کنبید
                روی قسمت رزرو نوبت در بالای کادر کلیک کنید</button>
            </p>

            <a href="{% url 'account:logout' %}">
                <button type="button" class="btn btn-danger">خروج از حساب</button>
            </a>
            <br>
            <br>

            <a href="{% url 'account:Edit_info' request.user.id %}">
                <button type="button" class="btn btn-primary">ویرایش اطلاعات</button>


            </a>
            </center>
        {% else %}
            <p class="animated">
                اگر ثبت نام نکردید ابتدا ثبت نام کنید
            </p>

            <br>
            <a href="{% url 'account:register' %}">
              <button type="button" class="btn btn-info">ثبت نام</button>



            </a>
            <p class="-align-center">
                در غیر اینصورت ورود را بزنید
            </p>
            <a href="{% url 'account:login' %}">
           <button type="button" class="btn btn-info">ورود</button>
            </a>
        {% endif %}

{% endblock %}