{% extends 'home.html' %}
{% load static %}
{% block main %}
    <form>
        <label >نوبت ها در ماه:</label>
        <select name="mont" id="mont">
            {% for mont in monts %}
                 <option value="{{ mont.name}}">{{ mont }}</option>
            {% endfor %}

        </select>
        <br><br>
        <input type="submit" value="جست و جو">
    </form>
    {% for turn in turn %}
        <section class="py-5">


            <h5 class="fw-bolder">نوبت شماره :{{ turn.number }}</h5>


            سال:
            {{ turn.time.yaer }}
            </div>
            <div>
                ماه:
                {{ turn.time.mont }}
            </div>
            <div>
                روز:
                {{ turn.time.day }}
            </div>
            <div>
                ساعت حضور:
                {{ turn.time.hour }}
            </div>
            <p>

            </p>
            </div>
            </div>
            <!-- Product actions-->
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="number" id="number" value="{{ turn.number }}">
                <input type="hidden" name="id" id="id" value="{{ turn.pk }}">
                <input type="hidden" name="year" id="year" value="{{ turn.time.year }}">
                <input type="hidden" name="mont" id="mont" value="{{ turn.time.mont }}">
                <input type="hidden" name="day" id="day" value="{{ turn.time.day }}">
                <input type="hidden" name="hour" id="hour" value="{{ turn.time.hour }}">
                <div>
                </div>
                <a href="{% url 'web:TurnList' %}">
                    <button type="submit" class="btn btn-dark">Dark</button>
                </a>
            </form>


        </section>
    {% endfor %}
{% endblock %}